@mixin theme($text-color, $bg-color, $link-color, $dark: 0) {
    $text-color: transparentize($text-color, .2);
    $bg-color: transparentize($bg-color, .2);
    $link-color: transparentize($link-color, .2);
    $hover-bg-color: transparentize($bg-color, .1);
    $active-bg-color: transparentize($text-color, .2);
    @if $dark == 1 {
        $hover-bg-color: darken($hover-bg-color, 10%);
    } @else {
        $hover-bg-color: lighten($hover-bg-color, 10%);
    }
    $btn-bg: transparentize($hover-bg-color, .1);
    $btn-hover-bg: $hover-bg-color;
    --bs-body-color: #{$text-color};
    --bs-body-bg: #{$bg-color};
    --bs-link-color: #{$link-color};
    --bs-link-hover-color: var(--bs-link-color);
    & .btn {
        --bs-btn-bg: #{$btn-bg};
        @if $dark == 1 {
            --bs-btn-hover-color: #000;
        } @else {
            --bs-btn-hover-color: #fff;
        }
        --bs-btn-hover-bg: #{$btn-hover-bg};
        --bs-btn-active-bg: #{$btn-hover-bg};
    }
    & .dropdown-menu {
        backdrop-filter: blur(5px);
        --bs-dropdown-color: #{$text-color};
        --bs-dropdown-link-color: #{$link-color};
        --bs-dropdown-link-hover-color: #{$link-color};
        @if $dark == 1 {
            --bs-dropdown-link-active-color: #000;
        } @else {
            --bs-dropdown-link-active-color: #fff;
        }
        --bs-dropdown-bg: #{$bg-color};
        --bs-dropdown-link-hover-bg: #{$hover-bg-color};
        --bs-dropdown-link-active-bg: #{$active-bg-color};
    }
}

.theme-dark {
    @include theme(#495057, #000, #adb5bd);
}

.theme-light {
    @include theme(#adb5bd, #f8f9fa, #343a40, 1);
}
